.nav-frame {
  width: 100%;
  height: 10rem;
  background-color: rgb(253, 239, 146);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 16rem;
  height: 4.5rem;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.logo-background {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 0.5rem 0.5rem 3rem 3rem;
}

.logo-desc {
  z-index: 1;
  font-family: "Cute Font", cursive;
  margin-bottom: -0.5rem;
  margin-right: 4rem;
}

.ko-logo {
  z-index: 1;
  font-size: 2rem;
  font-family: "Gugi", cursive;
}

.en-logo {
  z-index: 1;
  font-size: 0.1em;
  font-family: "Sonsie One", cursive;
  margin-top: -0.5rem;
  margin-left: 1.5rem;
}

.menus {
  width: 20rem;
  height: 4.5rem;
  display: flex;
  position: relative;
}

.menu {
  /* width: 8rem; */
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Jua", sans-serif;
  cursor: pointer;
  margin-right: 1.5rem;
}

.menu-spot {
  height: 3px;
  background-color: yellowgreen;
  position: absolute;
  top: 3.5rem;
  display: none;
}

.home {
  width: 1rem;
  left: 3.5rem;
}

.agri-list {
  width: 3rem;
  left: 11rem;
}

.agri-map {
  width: 3rem;
  left: 19.5rem;
}
