.agri-info {
  width: 30%;
  height: 100%;
  padding: 2rem;
  margin-right: 3rem;
  border-radius: 2rem;
  border: 1px solid rgba(225, 229, 232, 1);
  background-color: rgba(225, 229, 232, 0.3);
  font-family: 'Cute Font',  cursive;
  font-size: 1.5rem;
}

.categories {
  display: flex;
  justify-content: space-evenly;
}

.category-false {
  width: 6rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: rgba(222, 229, 232, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-true {
  width: 6rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50% 50% 0 0 ;
  background-color: rgba(255, 234, 167, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-false {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  padding: 3rem 2.5rem 0 2.5rem;
  border-radius: 1rem;
  background-color: rgba(222, 229, 232, 0.7);
}

.products-true {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  padding: 3rem 2.5rem 0 2.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 234, 167, 0.5);
}

.item {
  width: 5rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 234, 167, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cities-frame {
  background-color: rgba(211, 214, 218, 0.5);
}
