.agri-body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agri-details {
  width: 80vw;
  /* height: 90vh; */
  margin-top: 7.6vh;
  border: 3px solid black;
  display: grid;
  /* grid-template-columns: auto auto;
  grid-template-rows: auto auto; */
  grid-template-areas: 'agri-detail agri-detail agri-location'
                       'agri-chart agri-chart agri-location';
  gap: 5%;
  padding: 2.5%;
  background-color: rgba(0, 0, 0, 0.1);
}

.agri-detail {
  grid-area: agri-detail;
  border: 3px solid black;
  height: 50vh;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.agri-location {
  grid-area: agri-location;
  border: 3px solid black;
  border-radius: 3rem  3rem 0 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.agri-chart {
  grid-area: agri-chart;
  border: 3px solid black;
  height: 40vh;
  border-radius: 3rem 3rem 0 0;
  background-color: rgba(255, 255, 255, 0.7);
}