.body {
  width: inherit;
  height: 90vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.agri-body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3%;
}

.agri-details {
  width: 65%;
  height: 90%;
  margin-top: 2vh;
  border: 3px solid black;
  display: grid;
  grid-template-columns: 70% 25%;
  gap: 3%;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.829);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1011;
  position: fixed;
  overflow: scroll;
}

.agri-detail {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border: 3px solid black;
  width: 100%;
  height: 40vh;
  border-radius: 2rem;
  /* margin-top: -3%; */
  background-color: rgba(255, 255, 255, 0.8);
}

.agri-location {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 100%;
  border: 3px solid black;
  border-radius: 2rem  2rem 0 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.agri-chart {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 3px solid black;
  height: 45vh;
  border-radius: 2rem 2rem 0 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1;
}

.blackout-style{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  background-color: rgba(0, 0, 0, 0.65);
}

.agri-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 70%;
  height: 80vh;
  margin-top: 15vh;
  padding: 3%;
}

.container {
  height: 65%;
  width: 95%;
  max-height: 50px;
  align-items: center;
  justify-content: center;
}

.chart {
  height: 40%;
  align-content: center;
  overflow-y: scroll;
}

.agri-list::-webkit-scrollbar {
  width: 0.8rem;
}

.agri-list::-webkit-scrollbar-thumb {
  height: 5%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.background-1-1 {
  position: absolute;
  transform: skew(-40deg);
  width: 52vw;
  height: 15vh;
  left: 10vw;
  top: 5vh;
  z-index: -6;
  background-color: rgb(176, 179, 180);
  border-radius: 2rem 0 0 5rem;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.background-1-2 {
  position: absolute;
  transform: skew(40deg);
  width: 52vw;
  height: 15vh;
  left: 38vw;
  top: 5vh;
  z-index: -6;
  background-color: rgb(176, 179, 180);
  border-radius: 0 2rem 5rem 0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.background-2-1 {
  position: absolute;
  transform: skew(40deg);
  width: 40vw;
  left: 12.2vw;
  height: 10vh;
  top: 5vh;
  background-color: rgb(235, 238, 240);
  border-radius: 5rem 0 0 1rem;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.background-2-2 {
  position: absolute;
  transform: skew(-40deg);
  width: 40vw;
  left: 47vw;
  height: 10vh;
  top: 5vh;
  background-color: rgb(235, 238, 240);
  border-radius: 0 5rem 1rem 0;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.background-2-3 {
  position: absolute;
  width: 6vw;
  height: 10vh;
  top: 5vh;
  background-color: rgb(235, 238, 240);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.background-3-1 {
  position: absolute;
  width: 3vw;
  height: 70vh;
  left: 12vw;
  z-index: -5;
  background-color: rgb(253, 203, 110);
  border: 2px solid black;
  border-radius: 1.5rem 1.5rem 0 0;
}

.background-3-2 {
  position: absolute;
  width: 3vw;
  height: 70vh;
  left: 84vw;
  z-index: -5;
  background-color: rgb(253, 203, 110);
  border: 2px solid black;
  border-radius: 1.5rem 1.5rem 0 0;
}

.background-4-1 {
  position: absolute;
  width: 95vw;
  height: 8vh;
  top: 69vh;
  z-index: -4;
  background-color: rgb(253, 203, 110);
  border: 2px solid black;
  border-radius: 2rem;
}

.background-4-2 {
  position: absolute;
  width: 80vw;
  height: 20vh;
  top: 75vh;
  z-index: -3;
  background-color: rgb(253, 203, 110);
  border: 2px solid black;
  border-radius: 2rem;
}

.background-5-1 {
  position: absolute;
  width: 60vw;
  height: 25vh;
  top: 75vh;
  left: 9.4vw;
  z-index: -2;
  background-color: rgb(223, 230, 233);
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: skew(-40deg);
  border-radius: 0 0 0 2rem;
}

.background-5-2 {
  position: absolute;
  width: 40vw;
  height: 25vh;
  top: 75vh;
  left: 50.4%;
  z-index: -2;
  background-color: rgb(223, 230, 233);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: skew(40deg);
  border-radius: 0 0 2rem 0;
}

.background-main {
  position: absolute;
  width: 70vw;
  height: 60vh;
  top: 15vh;
  z-index: 103;
  z-index: -1;
  border: 2px solid black;
  background-color: rgb(223, 230, 233);
}