.position {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 5%;
}

.position-capital {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 7%;
}

.position-gyeongbuk {
  position: absolute;
  z-index: 2;
  left: 8%;
  margin: 0;
  top: -4%;
}

.position-gyeongnam {
  position: absolute;
  z-index: 2;
  left: 8%;
  margin: 0;
  top: -4%;
}

.position-jeonbuk {
  position: absolute;
  z-index: 2;
  top: 3%;
  left: 5%;
}

.position-jeonnam {
  position: absolute;
  z-index: 2;
  top: -3%;
  left: 11%;
}

.image {
  cursor: pointer;
}

@media (min-width: 1900px) {
  .position {
    position: absolute;
    margin: 17vh 0 0 1.5vw;
  }

  .position-capital {
    position: absolute;
    margin: 17vh 0 0 1vw;
  }

  .position-jeonbuk {
    position: absolute;
    margin: 11% 0 0 3.5vw;
  }
}
