.position{
  position: absolute;
  top: 7vh;
  left: 4.5vw;
}

.position-capital {
  position: absolute;
  top: 7vh;
  left: 3.2vw;
}

.position-jeonbuk {
  position: absolute;
  top: 10vh;
  left: 2vw;
} 

.image {
  cursor: pointer;
}

@media (min-width: 1900px) {
  .position{
    position: absolute;
    margin: 17vh 0 0 1.5vw; 
  }
  
  .position-capital {
    position: absolute;
    margin: 17vh 0 0 1vw; 
  }
  
  .position-jeonbuk {
    position: absolute;
    margin: 11% 0 0 3.5vw; 
  }  
}