.body {
  background-image: url(/images/i016341665355.gif);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cute Font', cursive;
  width: 100%;
  height: 100%;
  position: fixed;
}

.main {
  width: 80vw;
  height: 100vh;
  margin: 5vh auto 0; 
  border-radius: 30px 30px 0 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.logo {
  width: 80%;
  height: 20%;
  margin: 3% auto 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo .back {
  width: 40rem;
  height: 13rem;
  margin-top: 3rem;
  border-radius: 3rem 3rem 8rem 8rem;
  background-color: rgba(245, 245, 220, 0.6);
  position: absolute;
  z-index: -1;
}

.logo .logo-desc {
  margin-top: 3rem;
  font-size: 0.8em;
  height: 0.5em;
  font-weight: bolder;
  margin-right: 9em;
  color: rgba(0, 0, 0, 0.8);
}

.logo .ko-logo {
  font-size: 3em;
  height: 1em;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Gugi', cursive;
  
}

.logo .en-logo {
  font-size: 1em;
  font-style: italic;
  margin-left: 2.2em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-family: 'Sonsie One', cursive;
}

.apps {
  width: 80%;
  height: 15%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.button {
  padding: 0 2rem;
  height: 5rem;
  border-radius: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: beige;
  color: rgba(0, 0, 0, 0.8);
}

.button:hover {
  background-color: rgba(253, 203, 110, 1);
  cursor: pointer;
}

.practice-video-frame {
  width: 90%;
  height: 60%;
  margin: 5% auto;
  background-color: rgba(245, 245, 220, 0.5);
  border-radius: 1rem 1rem 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.frontier {
  height: 60%;
  width: 0.6%;
  background-color: rgba(245, 245, 220, 0.7);
  top: 20%;
  left: 49.5%;
  position: absolute;
  border-radius: 1rem;
}

.video-frame {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.video {
  width: 36rem;
  height: 20rem;
}


.question-mark {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-family: 'Jua', sans-serif;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(15%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media (min-width: 1490px) {
  .attention .left {
    transform: rotate(-45deg);
  }

  .attention .right {
    transform: rotate(45deg);
  }
}

@media (max-width: 500px) {
  .logo .back {
    width: 35rem;
    height: 13rem;
    margin-top: 3rem;
    border-radius: 3rem 3rem 8rem 8rem;
    background-color: rgba(245, 245, 220, 0.6);
    position: absolute;
    z-index: -1;
  }
  
  .logo .logo-desc {
    margin-top: 3rem;
    font-size: 0.8em;
    height: 0.5em;
    font-weight: bolder;
    margin-right: 8em;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .logo .ko-logo {
    font-size: 2.8em;
    height: 1em;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Gugi', cursive;
    
  }
  
  .logo .en-logo {
    font-size: 0.8em;
    font-style: italic;
    margin-left: 2.2em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-family: 'Sonsie One', cursive;
  }

  .service-video {
    border-radius: 0;
  }
}